:root {
    --grey: #3e3e3f;
    --grey-hover: #a1a1a8;
    --teal: #A3BCB6;
  }

*{
    box-sizing: border-box;
}

img{
    width: 50px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--teal);
}

header{
    background-color: var(--grey);
    height: 100vh;
}


/* Navigation bar */
.navbar{
    background-color: var(--teal);
    color: var(--grey);
    display: flex;
    justify-content: space-between;
    height: 5vh;
}

#name{
    font-size: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    text-align: center;
    width: fit-content;
    margin:0px 30px;
}

a{
    color: var(--grey);
    text-decoration: none;
}

a:hover{
    color: var(--grey-hover);
    cursor: pointer;
}


/* For main welcome part with headshot */
.hero{
    background-image: url(/assets/images/mountains.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 95vh;
    align-items: center;
    justify-content:space-evenly;
}

#avatar{
    width: 400px;
    border: 5px var(--teal) solid;
    border-radius: 25%;
}

#welcome{
    font-size: 50px;
    border: 5px var(--teal) solid;
    background-color: var(--grey);
    color:var(--teal);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 100px;
    text-align: center;
}

/* main part */
.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

h2{
    font-size:50px;
}

